$color_lightGray: rgb(78, 76, 77);
$color_medGray: rgb(47, 45, 46);
$color_darkGray: rgb(39, 33, 35);
$color_maroon: rgb(71, 1, 1);
$color_white: white;

$width_full: 100%;
$height_topbar: 90px;
$height_footer: 90px;
$height_fullscreen: 90vh;
$width_sidemenu: 200px;
$height_video: 40vh;

$padding_small: 10px;
$padding_large: 20px;

$margin_small: 10px;
$margin_large: 20px;