$color_lightGray: rgb(78, 76, 77);
$color_medGray: rgb(47, 45, 46);
$color_darkGray: rgb(39, 33, 35);
$color_maroon: rgb(71, 1, 1);
$color_white: white;

$height_topBarHeight: 90px;
$height_footerHeight: 90px;
$width_sidebarWidth: 200px;
$width_full: 100%;

$padding_small: 10px;
$padding_large: 20px;

$margin_small: 10px;
$margin_large: 20px;