
/* Base
   ========================================================================== */
/**
 * General site wide-styles.
 * Content wrapper is everything besides header and footer partials.
 * Header and footer imports since they will be present on every page.
 */

@import 'https://fonts.googleapis.com/css?family=Fondamento|Lato';

body {
    font-family: 'Lato', sans-serif;
}

ul {
    list-style: none;
}

.contentWrapper {
    // Compensate for the height moved down from the top
    padding-bottom: $height_topBarHeight;
    position: relative;
    top: $height_topBarHeight;

    & p:first-child {
        margin-top: 0;
    }
}

@import './_header';
@import './_footer';