footer
    div.footer_contact.u-vertCenter
        p Todd Hull
        p Fullmetal Photography
        p Address
        p Louisville, KY Zip
        p (555) 555-5555
    div.footer_social.u-vertCenter
        i.footer_social_icon.fa.fa-facebook
        i.footer_social_icon.fa.fa-twitter
        i.footer_social_icon.fa.fa-instagram
    div.footer_copyright.u-vertCenter 
        p Designed by Zac Clemans
        p For Fullmetal Photography
        p #[small &copy;] 2016
        p All rights reserved