div.topBar
    button.topBar_menuBtn.js-menuBtn #[i.fa.fa-bars]
    a.topBar_brand Fullmetal Photography
nav.sidebarWrapper.sidebar
    header.sidebar_header Menu
    ul.sidebar_nav
        li.sidebar_nav_item 
            a(href="home.html") Home
        li.sidebar_nav_item.js-subMenu
            a(href="#") Services #[i.fa.fa-caret-down]
            div.nav_item_subMenu.js-hidden
                ul.subMenu_nav
                    li.subMenu_nav_item
                        a(href="wedding.html") Weddings
                    li.subMenu_nav_item
                        a(href="baby-shower.html") Baby Showers
                    li.subMenu_nav_item
                        a(href="graduation.html") Graduation
                    li.subMenu_nav_item.js-ageGate
                        a(href="boudoir.html") Boudoir #[small (18+ only)]
        li.sidebar_nav_item 
            a(href="http://louisvillefullmetalphotography.pixieset.com/", target="_blank") Customer Access
        li.sidebar_nav_item 
            a(href="guides.html") FAQ & Prep Guides
        //- li.sidebar_nav_item 
        //-     a(href="#") Fullmetal Blog
        li.sidebar_nav_item 
            a(href="#") About
        //- li.sidebar_nav_item 
        //-     a(href="#") Contact