extends ./_base

block content
    div.service_hero
        div.service_hero_overlay
            h1.overlay_title.u-vertCenter
                block serviceName
        block serviceHero
    section.service_desc
        div.service_desc_content
            h2.desc_content_title
                block serviceDescTitle
            p.desc_content_about
                block serviceDescContent
            a.u-btnSkin.desc_content_scheduleBtn(id="Setmore_button_iframe", href="https://my.setmore.com/bookingpage/991c5eed-9e11-4704-9a9b-3b5305b09cb1") Schedule your session
        div.service_desc_gal
            block gallery
    section.service_prices
        div.service_prices_package
            h2.prices_package_title
                block packageOneTitle
            ul.prices_package_list
                block packageOneOptions
        div.service_prices_package
            h2.prices_package_title
                block packageTwoTitle
            ul.prices_package_list
                block packageTwoOptions
        div.service_prices_package
            h2.prices_package_title
                block packageThreeTitle
            ul.prices_package_list
                block packageThreeOptions
        